{% extends "base.html" %}

{% block content %}

<h1 align="center">Departments log</h1>
<div>
  {% if current_user.is_authenticated %}
    <a href="/add_department" class="btn btn-secondary">Add a department</a>
  {% endif %}
  <a href="/" class="btn btn-secondary">Back to jobs</a>
</div>
  {% for department in departments %}
  <p>
  <h1>Department #{{ loop.index }}</h1>
  <table class="table">
    <thead>
    <tr class="table-light">
      <th scope="col">Title</th>
      <th scope="col">Chief</th>
      <th scope="col">Members</th>
      <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-info">
      <th scope="row">{{ department.title }}</th>
      <th scope="row">{{ department.chief }}</th>
      <th scope="row">{{ department.members }}</th>
      <th scope="row">{{ department.email }}</th>
    </tr>
    </tbody>
  </table>
  {% if current_user.is_authenticated and current_user == department.user %}
    <div>
      <a href="/add_department/{{ department.id }}" class="btn btn-warning">
        Edit the department
      </a>
      <a href="/delete_department/{{ department.id }}" class="btn btn-danger">
        Delete the department
      </a>
    </div>
  {% endif %}
  </p>
{% endfor %}

{% endblock %}