{% extends "base.html" %}

{% block content %}

<h1 align="center">Works log</h1>
<div>
{% if current_user.is_authenticated %}
<a href="/addjob" class="btn btn-secondary">Add a job</a>
{% endif %}
  <a href="/departments" class="btn btn-secondary">Back to departments</a>
</div>
  {% for job_now in jobs %}
  <p>
    <h1>Action {{ loop.index }}</h1>
    <table class="table">
      <thead>
        <tr class="table-light">
          <th scope="col">Type of activity</th>
          <th scope="col">Team leader</th>
          <th scope="col">Duration</th>
          <th scope="col">List of collaborations</th>
          <th scope="col">Is finished</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">{{ job_now.job }}</th>
          <th scope="row">{{ job_now.team_leader }}</th>
          <th scope="row">{{ job_now.work_size }}</th>
          <th scope="row">{{ job_now.collaborators }}</th>
          {% if job_now.is_finished == false %}
            <th scope="row" class="alert-danger">Is not finished</th>
          {% else %}
            <th scope="row" class="alert-success">Is finished</th>
          {% endif %}
        </tr>
      </tbody>
    </table>
    {% if current_user.is_authenticated and current_user == job_now.user %}
      <div>
        <a href="/addjob/{{ job_now.id }}" class="btn btn-warning">
          Edit the job
        </a>
        <a href="/deletejob/{{ job_now.id }}" class="btn btn-danger">
          Delete the job
        </a>
      </div>
    {% endif %}
  </p>
{% endfor %}

{% endblock %}